<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Meus Veículos</h2>
  <a routerLink="/app/veiculos/form" class="btn btn-primary">Adicionar Novo Veículo</a>
</div>

@if (veiculos.length > 0) {
  <ul class="list-group">
    @for (veiculo of veiculos; track veiculo.id) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <h5 class="mb-1">{{ veiculo.modelo }} - {{ veiculo.cor }}</h5>
          <p class="mb-1 text-muted">Placa: {{ veiculo.placa }}</p>
        </div>

        <div>
          <a [routerLink]="['/app/veiculos/form', veiculo.id]" class="btn btn-secondary btn-sm">Editar</a>
          <button class="btn btn-danger btn-sm ms-2">Excluir</button>
        </div>

      </li>
    }
  </ul>
} @else {
  <div class="alert alert-info">
    Você ainda não cadastrou nenhum veículo.
  </div>
}
